*{
  box-sizing: border-box;
}
.intro {
  background-image: url("https://farm5.staticflickr.com/4134/4850937382_2b2438539f_b.jpg");
  font-family: 'Oswald', sans-serif;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vw;
  margin: 5px;
  border: 5px solid transparent;
  
  }

body{
  background-color: white; 
  padding-top: 70px;
}

.taival {
  background-image: url("../img/jooga.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-top: 10px;
  border: 2px solid white;
  display: flex;
  flex-wrap: wrap;
  

}

.title {
  color: black;
  padding: 20px;

}

.head-title {
  margin: 20px 10px 10px 10px;
  color: black;
}

.quote-app {
  background-color:#00bcd4;
  height: 300px;
  margin-top: 10px;
  color: black;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid white;
}

.wiki {
  background-image: url("../img/wiki.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-top: 10px;
  border: 2px solid white;
  
}

.about {
  padding: 10px;
}

.define-me {
  font-size: 20px;
  color: black;
  padding-top: 20px;
  font-family: 'PT Serif', serif;
}

.project {

  margin: 10px;
}
.footer{
  margin:20px 20px 20px 0px;
}
.in-touch{
  margin:10px;
}
.codecamp{
  padding:15px;
}
#icon{
  color: black;
}
.weather-app{
  background-color:#3aa67b;
  height: 300px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid white;

}
.portfolio-projects{
  color:white;
  text-decoration: none;

}
.portfolio-projects:hover, a:focus {
    text-decoration:none;
    color: white;
}
h3{
  font-family: 'PT Serif', serif;
  font-size: 3.0vh;
  padding:20px 10px;  
  text-align: left;
}

h1{
  font-size: 3.0vh;
  padding-top: 10vw;
}
h2{
  font-size: 3.0vh;
}
.integrify{
  color: #337ab7
}
.explain-project{
color:rgb(250, 247, 242);
}
.play{
  margin-right: 10px;
}
.demo-link{
  font-size:2.5vh;
  color: white;
  text-decoration: none;
}
.demo-link:hover{
  text-decoration: none;
  color:black
}
.bold{
  color:#4A148C;
  font-size: 2.5vh;
}
.menu-collapse{
  text-align:right !important; 
}
@media only screen and (min-width: 800px) {

   h1 { font-size: 7.0vh; }
   h2{
    font-size: 6.0vh; 
   }

}
@media (max-width: 800px){
  .pic  {
      margin-top: 5vw;
  }
}



